# API endpoint for backend
API_BASE_URL=http://localhost:4000/api/v1
# Simulation interval in ms
SIM_INTERVAL=2000
# Number of sensors to simulate
SENSOR_COUNT=10
# Number of vehicles to simulate
VEHICLE_COUNT=50
